body {
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0;
}
p{
    margin-bottom: 1.6em;
}
h1 {
    font-size: 2rem;
    line-height: 1.3em;
}
.container{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    color: white;
}
main{
    background:  #343F4B;
    padding-top: 6rem;
    padding-bottom: 0.5rem;
   
}
.logo{
    padding: 0.5rem 1rem;
}
.header {
    background-color: #1E2327;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a {
    color: white;
    text-decoration: none;
   
}

.logo-nav-container{
   display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.navigation ul li {
    display: inline-block;
   
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    
}

.navigation ul li a:hover{
    background: #343F4B;
}

.container-fluid{
    padding: 1rem;
    margin: 0 auto;
 
    
}