body {
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0;
}
p{
    margin-bottom: 1.6em;
}
h1 {
    font-size: 2rem;
    line-height: 1.3em;
}
.container{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    color: white;
}
main{
    background:  #343F4B;
    padding-top: 6rem;
    padding-bottom: 0.5rem;
   
}

.header{
    background-color: #000000;
    width: 100%;
    height: 80px; 
}

#btn-menu {
    display: none;
}

.lista-barra-navegacion label{
    display: none;
    width: 42px;
    height: 42px;
}
.lista-barra-navegacion label:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}
.nav{
    width: 100%;
    height: 100%;
}

.logo{
    width: 18%;
    height:80px; 
    display: flex;
    justify-content:flex-start ;
}


.lista-barra-navegacion{
    width: 82%;
    height: 100%;
    display: flex;

}

.lista-barra-navegacion ul{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content:  flex-start;/*los botones al inicio empezanod de derecha*/
    align-items: center;
}

.lista-barra-navegacion ul li:hover{
    background-color: #494242;
}
.lista-barra-navegacion ul li{
    list-style: none;
    text-align: center;
    /*flex-grow: 1; descomentar cuando se pongan mas botones a la barra de tarea*/
    border-right: 1px solid #fff;
}

.lista-barra-navegacion ul li a{
    text-decoration:none; 
    color: white;
    display: block;
    padding: 5px 20px;
}
#btn-primero{
    border-left: 1px solid #fff;
}

@media (max-width:768px){  
    .nav{
        display: block;
    }
    .logo{
        width: 100%;
        height: 80px;

    }
    .lista-barra-navegacion{
        background-color: #000000;
        width: 100%;
    }
    
}
/*
.logo{
    padding: 0.5rem 1rem;
}
.header {
    background-color: #1E2327;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}*/

/*.header a {
    color: white;
    text-decoration: none;  
}

.barra-navegacion{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}*/

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.navigation ul li {
    display: inline-block;
   
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    
}

.navigation ul li a:hover{
    background: #343F4B;
}

.container-fluid{
    padding: 1rem;
    margin: 0 auto;
 
    
}