
<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    setTimeout(function() {
        $(".ventana").fadeOut(1500);
    },3000);
 
    // setTimeout(function() {
    //     $(".content2").fadeIn(1500);
    // },6000);
    });
</script>
    <title>
        {% block title %}    {% endblock %}
    </title>
</head>
<body>
    <!-- cabezera ini-->
    <header >
        
        <nav style="z-index: 2;">
            
            <input type="checkbox" id="check">
            
            <a href="/Mis_Cursos/" class="enlace">
                <img src="{% static 'Imagenes/Logo.jpg' %}" alt="" class="logo">
            </a>
            <ul>
                <li><a class="active"  href="/Mis_Cursos/">Mis Cursos</a></li>
                <!--<li><a  href="#">tutoriales</a></li>
                <li><a  href="#">bibliografia</a></li>
                <li><a  href="#">eventos</a></li>
                <li><a  href="#">Mi Perfil</a></li>-->
            </ul>
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
        </nav>
      
    </header> 
    <!-- cabezera fin-->
     {% block content %}   {% endblock %}
     <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>