{% extends 'base.html' %}

 {% block title %}
     Acoustic Live | Mis_Videos
 {% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid" style="padding-top: 90px;">
    <link rel="stylesheet" href="{% static '/css/fondo.css' %}" >


    {% if messages %}
    <div class="ventana">
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}


    <form action="/Inicio_Profesores/" method="GET">       
      <input type="image" name="boton_back" style="margin-left: 20px; " src="{% static 'Imagenes/flechita.png' %}" alt="Volver atras" width="50" height="50">                
    </form>
    <div class="container-fluid contenedor">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th class="text-center">T&iacute;tulo</th>
                <th class="text-center">Descripci&oacute;n</th>
                <th class="text-center">Edici&oacute;n</th>
              </tr>
            </thead>
            <tbody>
              {% for leccion in lecciones %}
              <tr>
                <td>{{ leccion.nombre_leccion  }}</td><!--{{video.nombre}}-->
                <td> {{ leccion.descripcion }} </td> <!--{{video.descripcion}}-->
                <td>

                  {% ifequal 1 leccion.orden %}
                  
                    <center><a href="/Bajar/3/{{ leccion.orden }}/{{ leccion.nivel }}" class="btn btn-secondary" style="margin-right: 2%; margin-top: 2%;">Bajar</a></center>
                  
                  {% else %}
                    {% ifequal cantidad leccion.orden %}
                  
                    <center><a href="/Subir/3/{{ leccion.orden }}/{{ leccion.nivel }}" class="btn btn-secondary" style="margin-right: 2%; margin-left: 2%;margin-top: 2%;">Subir</a></center>

                    {% else %}

                      <center><a href="/Subir/3/{{ leccion.orden }}/{{ leccion.nivel }}" class="btn btn-secondary" style="margin-right: 2%; margin-left: 2%;margin-top: 2%;">Subir</a>
                      <a href="/Bajar/3/{{ leccion.orden }}/{{ leccion.nivel }}" class="btn btn-secondary" style="margin-right: 2%; margin-top: 2%;">Bajar</a></center>
                    
                    {% endifequal %}
                  {% endifequal %}
                    <center><a href="/Editar_video/{{leccion.id}}/{{leccion.nivel}}" class="btn btn-secondary" style="margin-right: 2%; margin-top: 2%;">Editar</a></center>
                    <center> <a href="/Eliminar_video/3/{{leccion.id}}/{{leccion.orden}}/{{leccion.nivel}}" class="btn btn-danger" style="margin-right: 2%; margin-top: 2%;">Eliminar</a></center>
                </td>
              </tr>
              {% endfor %}
              </tr>
              </tr>
            </tbody>
          </table>
        </div>
        <form action="#" method="GET">   
          <center><input type="submit" class="btn btn-dark w-150" value="Ver en la p&aacute;gina"></center>
        </form>
     </div>
    </div>
     
</div>    

{% endblock %}