<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Acoustic Live | Mis Cursos</title>
</head>
<body>
    <header class="header">
        <div class="conteiner logo-nav-container">
           <a href="3" class="logo">LOGO</a>
            <nav class="navigation">
                <ul>
   
                 <li><a style="color: white;"href="#">Mis Cursos</a></li>
               
                </ul>
            </nav>
        </div> 
     </header>
     <main class="main">
        <div class="container">

            <h1>
                Elige por donde comenzar
            </h1>
            <p>
                El artista no es nada sin el don, pero el don no es nada sin el trabajo
            </p>

        </div>
    </main>

    <div class="container-fluid">
        <link rel="stylesheet" href="{% static '/css/fondo.css' %}" >  
        <div class="container">
            <div class="row" style="height: 450px;">
                <div class="col-4" style="margin-top: 25px;">
                    <link rel="stylesheet">  
                    <div class="container" id="principiante"  style="height: 100%;">
                        <link rel="stylesheet" href="{% static '/css/imagen_principiante.css' %}" > 
                        <center><h1 style="padding-top: 160px;">Nivel Primario</h1></center>
                        <center><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aperiam facere dolorem saepe quod tenetur dolorum soluta! Consequuntur suscipit nobis maiores. Velit totam natus, adipisci deleniti modi aliquid officia odit.</p></center>
                    </div>
                    <div class="row mx-3"><button type="button" class="btn btn-dark btn-block">Ver mas</button></div>
                </div>
                <div class="col-4" style="margin-top: 25px;">
                    <div class="container" style="background-color: white;">
                        <center><h1>Nivel Medio</h1></center>
                        <center><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae perferendis, alias hic dolor, atque id, amet ducimus qui aut dolorum earum excepturi architecto nemo vitae sint eum itaque culpa soluta.</p></center>
                        <center><button type="button" class="btn-btn-primary">Ver mas</button></center>
                    </div>
                </div>
                <div class="col-4" style="margin-top: 25px;">
                    <div class="container" style="background-color:white;">
                        <center><h1>Nivel Avanzado</h1></center>
                        <center><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum debitis natus totam ut hic, nobis assumenda rerum itaque autem nemo! Animi voluptates perferendis nostrum quidem repellat, maxime natus necessitatibus pariatur!</p></center>
                        <center><button type="button" class="btn-btn-primary">Ver mas</button></center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>