{% extends 'base.html' %}

 {% block title %}
     Acoustic Live | Formulario
 {% endblock %}

{% block content %}
{% load static %}  
<div class="container-fluid">
        <link rel="stylesheet" href="{% static '/css/fondo.css' %}" > 
        
        <div class="container">
           
            <div class="row justify-content-center pt-5">
                <div class="col-md-7">
                    <h2 class="display-6 text-center" style="padding-top: 70px;">Formulario</h2>
                    
                    {% if "videoExiste" in request.GET %}
                    <div class="alert alert-danger" role="alert">
                        Error* El video que ingreso ya existe
                    </div>
                    {%endif%}
                    {% if  "VideoGuardado" in request.GET %}
                    <p>El video se agrego correctamente</p>
                    {%endif%}
                    {% if  "Alguno_Esta_Vacio" in request.GET %}
                    <p>Porfavor revise los campos</p>
                    {%endif%}
                    
                    {% if  "error_nombre_muy_grande" in request.GET %}
                    <p>El nombre es muy grande</p>
                    {%endif%}
                    {% if  "error_descripcion_muy_grande" in request.GET %}
                    <p>la descripcion es muy grande</p>
                    {%endif%}
                    {% if  "error_descripcion_muy_pequeña" in request.GET %}
                    <p>la descripcion es muy pequeña</p>
                    {%endif%}
                    
                    
                    <form action="" method="POST"> 
                        {% csrf_token %}
                        <div class="row form-group justify-content-center  pt-3">
                            <label for="nombre" class="col-form-label col-md-2 ">
                                Nombre*:
                            </label>
                            <div class="col-md-6">
                                <input type="text" name="nombre" value="" id="nombre" class="form-control">
                            </div>
                        </div>
                        
                        <div class="row form-group justify-content-center  pt-3">
                            <label for="Descripcion" class="col-form-label col-md-2 ">
                                Descripcion*:
                            </label>
                            <div class="col-md-6">
                                <textarea name="descripcion" id="descripcion" class="form-control" cols="30" rows="4"></textarea>
                            </div>
                        </div>
    
                        <div class="row form-group justify-content-center  pt-3 ">
                            <label for="Descripcion" class="col-form-label col-md-2">
                                Nivel*:
                            </label>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col col-md-7 col-sm-7 ">
                                        <select class="btn-secondary form-control" name="nivel" >
                                            <option selected class="text-left " value="1" >Principiante</option>
                                            <option value="2">Medio</option>
                                            <option value="3">Avanzado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row form-group justify-content-center  pt-3">
                            <label for="Descripcion" class="col-form-label col-md-2 ">
                                Link*:
                            </label>
                            <div class="col-md-6">
                                <input type="text" name="link" value="" id="link" class="form-control">
                            </div>
                        </div>
    
                        <div class="row form-group justify-content-end pt-3 ">
                            
                            <div class="col col-md-8 text-start">
        
                                  <p>
    
                                    <input type= "submit" value="Aceptar" class="btn btn-dark btn-block mt-1" >
    
                                    <input type= "reset" value="Borrar  " class="btn btn-dark btn-block mt-1" >
                                    
                                    <form action="/Mis_Cursos/" method="GET">                      
                                        <input type="submit" value = "Cancelar" class="btn btn-dark btn-block mt-1" >
                                        
                                    </form>
    
                                  </p>     
                             
                            </div>
                           
                           
                       
                            <div class="row form-group text-center  pt-3">
                                <p >(*)Campos obligatorios</p>
                            </div>  
                        </div>  
                    </form>
    
                  
                                      
    
                </div>
                    
            </div>
                
        </div>

    
</div>
<!-- <p style="color: white;">{{request.POST}}</p>
<p style="color: white;">esta es la respuesta</p> -->
{% endblock %}