{% extends 'Base.html' %}

 {% block title %}
     Acoustic Live | Formulario
        
 {% endblock %}

{% block content %}
{% load static %}  
<div class="container-fluid contenedor">
        <link rel="stylesheet" href="{% static '/css/fondo.css' %}" > 
        

            </script><!--para que es este scrip??-->
            <div class="row" style="padding-top: 90px;">
        <div class="col-lg-7 col-md-12 col-sm-12">
           
            <div class="row justify-content-center">
                <div class="col-md-12" style="color: white;">

                    <h2 class="display-6 text-center" style="padding-top: 50px;">Formulario</h2>
                    

                    {% if messages %}
                    <div class="ventana">
                        <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    
                    
                    <form action="" method="POST"> 
                        {% csrf_token %}
                        <div class="row form-group justify-content-center  pt-3">
                            <label for="nombre" class="col-form-label col-md-2 ">
                                Nombre*:
                            </label>
                            <div class="col-md-6">
                                <input type="text" name="nombre" value="" id="nombre" class="form-control">
                            </div>
                        </div>
                        
                        <div class="row form-group justify-content-center  pt-3">
                            <label for="Descripcion" class="col-form-label col-md-2 ">
                                Descripci&oacute;n*:    
                            </label>
                            <div class="col-md-6">
                                <textarea name="descripcion" id="descripcion" class="form-control" cols="30" rows="4"></textarea>
                            </div>
                        </div>
    
                        <div class="row form-group justify-content-center  pt-3 ">
                            <label for="Descripcion" class="col-form-label col-md-2">
                                Nivel*:
                            </label>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col col-md-7 col-sm-7 ">
                                        <select class="btn-secondary form-control" name="nivel" >
                                            <option selected class="text-left " value="1" >Principiante</option>
                                            <option value="2">Medio</option>
                                            <option value="3">Avanzado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row form-group justify-content-center  pt-3">
                            <label for="Descripcion" class="col-form-label col-md-2 ">
                                Link*:
                            </label>
                            <div class="col-md-6">
                                <input type="text" name="link" value="" id="link" class="form-control">
                            </div>
                        </div>
    
                        <div class="row form-group justify-content-end pt-3 ">
                            
                            <div class="col col-md-8 text-start">
        
                                  <p>
    
                                    <input type= "submit" value="Subir" class="btn btn-dark btn-block mt-1" style="margin-left: 36%; margin-right: 10px;" data-bs-toggle="modal" data-bs-target="#ventana" >
    
                                    <!--<input type= "reset" value="Borrar  " class="btn btn-dark btn-block mt-1" >-->
                                    
                                                       
                                    <a type="button" href="/Inicio_Profesores/"  class="btn btn-dark btn-block mt-1" >Cancelar </a>
                                    
 
    
                                  </p>     
                             
                            </div>
                           
                           
                       
                        </div>  
                    </form>
                    
                    <div class="row form-group text-center  pt-3">
                        <p >(*)Campos obligatorios</p>
                    </div>              
    
                </div>
                    
            </div>
                
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12" style="background-color: #343F4B;padding: 3%; color: white;overflow: auto; height: 500px;">
            <h1>Tutorial para subir una lecci&oacute;n</h1>
            <p>1. Llenar el campo "Nombre" con el t&iacute;tulo del video(Solo se aceptan caracteres alfanum&eacute;ricos) <br>
               2. Llenar el campo "Descripci&oacute;n" con informaci&oacute;n acerca de la lecci&oacute;n que va a subir <br>
               3. Para el campo "Nivel" desplegar las opciones y seleccionar el nivel al cual desea subir la lecci&oacute;n <br>
            </p>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="{% static 'Imagenes/tutorial_nivel.png' %}" style="width: 100%;">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="{% static 'Imagenes/tutorial_nivel_2.png' %}" style="width: 100%;">
                </div>
            </div>
            <br>
            <p>
                4. Para llenar el campo de link ir a Youtube y hacer click en la opci&oacute;n compartir </p> 
                <img src="{% static 'Imagenes/link.png' %}" style="width: 100%;"><br><br>
            <p>5. Aparecer&aacute; una ventana emergente donde tendr&aacute;s que darle click a la opci&oacute;n copiar</p>
                <center><img src="{% static 'Imagenes/link2.png' %}" style="width: 80%;"></center><br><br>
            <p>6. Pegar la direcci&oacute;n previamente copiada en el espacio "Link" </p>
            <img src="{% static 'Imagenes/link3.png' %}" style="width: 100%;"><br><br>
            <p>7. Finalmente hacer click sobre el bot&oacute;n "Subir" y la lecci&oacute;n se subir&acute; si sigui&oacute; todos los pasos correctamente.</p>
        </div>
    </div>    
</div>

{% endblock %}