<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="icon" href="{% static '/imagenes/icon.ico' %}">

    <title>Formulario De Registro</title>
</head>
<script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function() {
            $(".ventana").fadeOut(1500);
        },5000);
     
        // setTimeout(function() {
        //     $(".content2").fadeIn(1500);
        // },6000);
        });
</script>
<body>
    
    <div class="col-lg-1 col-md-2 col-sm-3">
        <form action="/Inicio_Profesores/" >       
            <input type="image" name="boton_back" style="margin-left: 20px; margin-top: 20px;" src="{% static 'Imagenes/flechita.png' %}" alt="Volver atras" width="50" height="50">                
        </form>
    </div>
    <h1 class="text-light text-center">Acoustic Live</h1>
    <div class="linea"></div>
    
    <div class="container">
        <div class="row justify-content-center pt-4">
            <div class="col-md-4 formulario">
                
                <form action="" method="POST"> 
                     {% csrf_token %}
                    <div class="form-group text-center mt-0">
                        <h2 class="text-light ">Reg&iacute;strate</h2>
                    </div>
                    {% if messages %}
                        <p></p>
                        <div class="ventana row ">
                        <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                    <div class="row form-group justify-content-center  pt-1">
                        <label for="nombre" >
                            Nombre*:
                        </label>
                        <div class="mt-1">
                            <input type="text" name="nombre" value="" id="nombre" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group justify-content-center  pt-3">
                        <label for="nombre" >
                            Apellido paterno:
                        </label>
                        <div class="mt-1">
                            <input type="text" name="apellido_paterno" value="" id="apellidoP" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group justify-content-center  pt-3">
                        <label for="nombre" >
                            Apellido materno:
                        </label>
                        <div class="mt-1">
                            <input type="text" name="apellido_materno" value="" id="apellidoM" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group justify-content-center  pt-3">
                        <label for="nombre" >
                            Nombre de usuario*:
                        </label>
                        <div class="mt-1">
                            <input type="text" name="nombreUsuario" value="" id="nombreUsuario" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group justify-content-center  pt-3">
                        <label for="nombre" >
                            Correo*:
                        </label>
                        <div class="mt-1">
                            <input type="text" name="correo" value="" id="correo" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group justify-content-center  pt-3">
                        <label for="nombre" >
                            Contrase&ntilde;a*:
                        </label>
                        <div class="mt-1">
                            <input type="password" name="contraseña" value="" id="contraseña" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group justify-content-center  pt-3">
                        <label for="nombre" >
                            Confirmar contrase&ntilde;a*:
                        </label>
                        <div class="mt-1">
                            <input type="password" name="confirmacion" value="" id="confirmacion" class="form-control">
                        </div>
                    </div>
                    <label for="nombre" class="row justify-content-center pt-3" >
                        (*)Campos Obligatorios
                    </label>
                    <div class="row justify-content-center">
                        <input type="submit" class="col col-md-6 col-sm-6 col-6 btn btn-dark mt-3 mb-0" value="Registrarse">
                    </div>
                    
                </form>
            </div>
        </div>
        <p></p>
    </div>


    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>   
</body>
</html>