<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="icon" href="{% static '/imagenes/icon.ico' %}">

    <title>Login</title>
</head>
<script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function() {
            $(".ventana").fadeOut(1500);
        },2000);
     
        // setTimeout(function() {
        //     $(".content2").fadeIn(1500);
        // },6000);
        });
</script>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-2 col-sm-12">
                <form action="/Inicio/" method="GET">       
                    <input type="image" name="boton_back" style="margin-left: 20px; margin-top: 20px;" src="{% static 'Imagenes/flechita.png' %}" alt="Volver atras" width="50" height="50">                
                </form>
            </div>
            <div class="col-lg-11 col-md-10 col-sm-12">
                <h1 class="text-light text-center mt-5" style="margin-right: 8%;">Acoustic Live</h1>
            </div>
        </div>
    </div>
    <div class="linea"></div>
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-lg-4 col-md-6 col-sm-8 formulario">
                <form action="/Login/" method="POST">
                    {% csrf_token %}
                    <div class="form-group text-center mt-3">
                        <h2 class="text-light">Iniciar sesi&oacute;n</h2>
                    </div>
                    
                    <div class="form-group mx-sm-4 mt-5">
                        {% if messages %}
                            <div class="ventana row ">
                            <ul class="messages">   
                            {% for message in messages %}
                                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                            </ul>
                            </div>
                        {% endif %}
                        <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Usuario" id="">
                    </div>
                    <div class="form-group mx-sm-4 mt-3">
                        <input type="password" name="contraseña" id="contraseña" class="form-control" placeholder="Contrase&ntilde;a" id="">
                    </div>
                    <div class="form-group mx-sm-4">
                        
                        <input type="submit" class="btn btn-dark w-100 mt-5 mb-3" value="Ingresar"> 
                    </div>
                </form>
                <p class="text-center">&iquest;No tienes una cuenta? Reg&iacute;strate <a href="/Formulario_Registro/">aqu&iacute;</a></p>
            </div>
        </div>
    </div>


    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>   
</body>
</html>