{% extends 'Base.html' %}

 {% block title %}
     Acoustic Live | Canciones
 {% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid">
    <link rel="stylesheet" href="{% static '/css/fondo.css' %}" >
    <div class="container contenedor" style="padding-top: 120px;">
        <!--<p>¿Que cancion quieres tocar hoy {{request.user.first_name}}? (esto para cuando ya se enlace con canciones)</p>-->
            <div class="row">
                <form action="/buscar/" method="POST">
                    <div class="input-group mb-3" style="z-index: 1;">
                        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="Buscar" name="Buscar" value = '{{ busqueda }}'>
                        <button class="btn btn-dark" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        <div class="row">
            <h1 class="text-light" style="margin-bottom: 2%;">G&eacute;neros</h1>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <form action="/Genero/1/" method="GET">
                <Center><input type="image" name="1" src="{% static 'Imagenes/todos.png' %}" alt="Todos" style="width: 100px; border-radius: 100%;"></Center>
                </form>
                <!--<h4 class="text-center text-light">Todos</h4>-->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <form action="/Genero/3/" method="GET">
                <Center><input type="image" name="1" src="{% static 'Imagenes/pop.png' %}" alt="Pop" style="width: 100px; border-radius: 100%;"></Center>
                </form>
                <!--<h4 class="text-center text-light">Pop</h4>-->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <form action="/Genero/2/" method="GET">
                <Center><input type="image" name="1" src="{% static 'Imagenes/rock.png' %}" alt="Rock" style="width: 100px; border-radius: 100%;"></Center>
                </form>
                <!--<h4 class="text-center text-light">Rock</h4>-->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <form action="/Genero/4/" method="GET">
                <Center><input type="image" name="1" src="{% static 'Imagenes/baladas.png' %}" alt="Baladas" style="width: 100px; border-radius: 100%;"></Center>
                </form>
                <!--<h4 class="text-center text-light">Baladas</h4>-->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <form action="/Genero/5/" method="GET">
                <Center><input type="image" name="1" src="{% static 'Imagenes/folkloricas.png' %}" alt="Clasicos" style="width: 100px; border-radius: 100%;"></Center>
                </form>
                <!--<h4 class="text-center text-light">Cl&aacute;sicos</h4>-->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <form action="/Genero/6/" method="GET">
                <Center><input type="image" name="1" src="{% static 'Imagenes/reggae.png' %}" alt="Reggae" style="width: 100px; border-radius: 100%;"></Center>
                </form>
                <!--<h4 class="text-center text-light">Reggae</h4>-->
            </div>
        </div>
            {% if texto %}
                <h1 class="text-light" style="margin-top: 5%;">{{texto}}</h1>
                {%for cancion in canciones%}

                <div class="miniatura" style="background-color: rgb(49, 51, 53); height: 100%; width: 70%; display: flex; margin-bottom: 10px;">
                    <div class="imagen">
                        <img src="/../{{cancion.imagen_cancion }}" alt="" style="height: 120px;width: 120px; margin-right: 15px;">
                    </div>
                    <div class="texto" style="padding-top: 3%">
                        <a href="" style="text-decoration: none; color: #fff;"><h4>{{cancion.nombre_cancion}}</h4></a>
                        <p style="text-align-last: left;">{{cancion.grupo_artista}}</p>
                    </div>
                </div>
                {%endfor%}
            {% else %}
                

                <h1 class="text-light" style="margin-top: 5%;">{{text}}</h1>
                {%for cancion_aleatoria in canciones_aleatorias%}
                <div class="miniatura" style="background-color: rgb(49, 51, 53); height: 120px; width: 70%; display: flex; margin-bottom: 10px;">
                    <div class="imagen">
                        <a href="#"><img src="/../{{cancion_aleatoria.imagen_cancion }}" alt="" style="height: 120px; width: 120px; margin-right: 15px;"></a>
                    </div>
                    <div class="texto" style="padding-top: 3%; width: 32%;">
                        <a href="" style="text-decoration: none; color: #fff;"><h4>{{cancion_aleatoria.nombre_cancion}}</h4></a>
                        <p style="text-align-last: left;">{{cancion_aleatoria.grupo_artista}}</p>
                    </div>
                    <div class="texto" style="padding-top: 3%; padding-left: 5%;">
                        <h4>G&eacute;nero</h4>
                        <p style="text-align-last: left;">Pop</p>
                    </div>
                    <div class="texto" style="padding-top: 3%; padding-left: 15%;">
                        <h4>Dificultad</h4>
                        <p style="text-align-last: left;">Media</p>
                    </div>
                </div>
                <!-- <div class="miniatura" style="background-color: rgb(49, 51, 53); height: 120px; width: 70%; display: flex; margin-bottom: 10px;">
                    <div class="imagen">
                        <img src="{% static 'Imagenes/chachacha.jpg' %}" alt="" style="width: 120px; margin-right: 15px;">
                    </div>
                    <div class="texto" style="padding-top: 3%">
                        <a href="" style="text-decoration: none; color: #fff;"><h4>Chachach&aacute;</h4></a>
                        <p style="text-align-last: left;">J&oacute;sean Log</p>
                    </div>
                </div> -->
                <!-- <div class="miniatura" style="background-color: rgb(49, 51, 53); height: 120px; width: 70%; display: flex;">
                    <div class="imagen">
                    <img src="{% static 'Imagenes/adele.jpg' %}" alt="" style="width: 120px; height: 120px; margin-right: 15px;">
                    </div>
                    <div class="texto" style="padding-top: 3%">
                        <a href="" style="text-decoration: none; color: #fff;"><h4>Make you feel my love</h4></a>
                        <p style="text-align-last: left;">Adele</p>
                    </div>
                </div> -->
                {%endfor%}
           {% endif %}
    </div>
</div>

{% endblock %}