{% extends 'base.html' %}

 {% block title %}
     Acoustic Live | Nivel Avanzado
 {% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid" style="background-color: #343F4B;padding-top: 6rem;padding-bottom: 0.5rem;">     
    <div class="row">
        <div class="col-lg-1 col-md-2 col-sm-3">
            <form action="/Profesores_Nivel_Avanzado/" method="GET">       
                <input type="image" name="boton_back" style="margin-left: 20px;" src="{% static 'Imagenes/boton_atras.png' %}" alt="Volver atras" width="50" height="50">                
            </form>
        </div>
    <div class="col-11 col-md-10 col-sm-7">    
            <h1 style = "color: white;">
                {{ profesor.nombre_profesor }}
            </h1>
            <p style = "color: white;">
                Nivel Avanzado
            </p>
        </div>
    </div>       
</div>


<div class="container-fluid">
    <link rel="stylesheet" href="{% static '/css/Fondo.css' %}" >
    <div class="container">  
          
        {% for leccion in lecciones %} 

                <h1 style="color: white;">{{ leccion.nombre_leccion }}</h1>
                <div class="row">
                    <div class="container">
                        <div class="ratio" style="--bs-aspect-ratio: 50%;">
                            <iframe width="560" height="315" src="{{ leccion.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    
                        </div> 
                            <div class="container text-left">  
                                <p style="color: white;"> {{ leccion.descripcion }} </p>
                            </div>
                        </div>
                    </div>

            {% endfor %}
            
    </div>    
</div>
{% endblock %}