{% extends 'base.html' %}

 {% block title %}
     Acoustic Live | Nivel Principiante
 {% endblock %}

{% block content %}
{% load static %}

    <div class="container-fluid" style="background-color: #343F4B;padding-top: 6rem;padding-bottom: 0.5rem;">
       
        <div class="row">
            <div class="col-lg-1 col-md-2 col-sm-2">
                
            </div>
        <div class="col-lg-9 col-md-6 col-sm-5">    
                <h1 style="color: white;">
                    Elige por donde comenzar
                </h1>
                <p style="color: white;">
                    El artista no es nada sin el don, pero el don no es nada sin el trabajo
                </p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <form action="/Formulario/" method="GET">                      
                    <center><input type="submit" style="margin-top: 25px;" value = "Registrar Lecci&oacute;n" class="btn btn-dark" ></center>
                    
                </form>

            </div>
        </div>
</div>

<div class="container-fluid">
    <link rel="stylesheet" href="{% static '/css/Fondo.css' %}" >
        <div class="container">  
        
            {% for leccion in lecciones %} 

                <h1 style="color: white;">{{ leccion.nombre_leccion }}</h1>
                <div class="row">
                    <div class="container">
                        <div class="ratio" style="--bs-aspect-ratio: 50%;">
                            <iframe width="560" height="315" src="{{ leccion.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    
                        </div> 
                            <div class="container text-left">  
                                <p style="color: white;"> {{ leccion.descripcion }} </p>
                            </div>
                        </div>
                    </div>

            {% endfor %}

        </div>
    </div>    
</body>
{% endblock %}