{% extends 'base.html' %}

 {% block title %}
    Acoustic Live | Profesores Nivel Principiante
 {% endblock %}

{% block content %}
{% load static %}       
 
<div class="container-fluid" style="background-color: #343F4B; padding-top: 6rem;padding-bottom: 0.5rem;">
                
        <div class="row">
            <div class="col-lg-1 col-md-2 col-sm-3">
                <form action="/Mis_Cursos/" method="GET">       
                    <input type="image" name="boton_back" style="margin-left: 20px;" src="{% static 'Imagenes/boton_atras.png' %}" alt="Volver atras" width="50" height="50">                
                </form>
            </div>
            <div class="col-11 col-md-10 col-sm-7">    
                <h1 style = "color: white;">
                    Nivel Principiante 
                </h1>
                <p style = "color: white;">
                    Selecciona un profesor
                </p>
            </div>
        </div>       
</div>

    <div class="container-fluid">
        <div class="container">  
            <link rel="stylesheet" href="{% static '/css/Fondo.css' %}" >  
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-4" style="background-color: white;">
            
            <div class="container" style="background-color: yellowgreen;"><h1>Louis Tomlinson</h1></div>
        </div>
        <div class="col-4" style="background-color: tomato;">
            <div class="container" style="background-color: yellowgreen;"><h1>Louis Tomlinson</h1></div>
        </div>
        <div class="col-4" style="background-color: violet;">
            <div class="container" style="background-color: yellowgreen;"><h1>Louis Tomlinson</h1></div>
        </div>

        
            
    </div>
</div>
   

{% endblock %}