{% extends 'base.html' %}

 {% block title %}
    Acoustic Live | Mis Cursos
 {% endblock %}

{% block content %}
{% load static %}

    <div class="container-fluid">
        <link rel="stylesheet" href="{% static '/css/Fondo.css' %}">
        <div class="container" style="padding-top: 10%;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row mt-5">
                        <div class="container mt-2">
                            <center><input type="image" src="{% static 'Imagenes/AaronSilva.jpg' %}" width="200" height="200" style="border-radius: 100%;"></center>
                            <center><h1 style="margin-top: 5%;">Nombre del profesor</h1></center>
                        </div>
                    </div>
                    <div class="form-group mx-sm-4">
                        <form action="/Formulario_Registro/3/" method="GET"> <!--Poner id profesores-->    
                            <input type="submit" class="btn btn-dark w-100 mt-5 mb-3" value="Registrar Lecci&oacute;n">
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="container" style="border: 5px; border-color: white; color: white;">
                            <h1 class="text-center"> Mis videos </h1>
                        </div>
                    </div>
                    <div class="row">
                        <form action="/Mis_Videos/1/" method="GET">       
                            <center><input type="image" name="boton_back" style="margin-left: 20px;" src="{% static 'Imagenes/c2.jpg' %}" alt="Volver atras" width="400" height="150"></center>             
                        </form>
                    </div>
                    <div class="row">
                        <form action="/Mis_Videos/2/" method="GET">       
                            <center><input type="image" name="boton_back" style="margin-left: 20px;" src="{% static 'Imagenes/c2.jpg' %}" alt="Volver atras" width="400" height="150"></center>                
                        </form>
                    </div>
                    <div class="row">
                        <form action="/Mis_Videos/3/" method="GET">       
                            <center><input type="image" name="boton_back" style="margin-left: 20px;" src="{% static 'Imagenes/c2.jpg' %}" alt="Volver atras" width="400" height="150"></center>                
                        </form>
                    </div>
                </div>               
            </div>
        </div>
    </div> 
{% endblock %}