{% extends 'base.html' %}

 {% block title %}
     Acoustic Live | Nivel Principiante
 {% endblock %}

{% block content %}
{% load static %}

<script>

    jQuery(document).ready(function($){

        var cantidad_videos_vistos = JSON.parse("{{tiqueados}}"); 
        var id_profesor = JSON.parse("{{id_profesor}}"); 
        var nivel = JSON.parse("{{nivel_leccion}}"); 
         
        var cantidad_videos = JSON.parse("{{cantidad}}");    
        var porcentaje = 100/cantidad_videos;
        var progress = porcentaje*cantidad_videos_vistos;

            $("#progreso input").on('change', function(){

                    var ID_checkbox = this.id;
                    var check = "#"+ ID_checkbox + " input";
                    if ($(check).is(":checked") == true) {
                        progress = progress+porcentaje;

                        $.ajax({
                            type: "GET",
                            url: '/guardar_db',
                            data: {
                                "id_leccion": ID_checkbox,
                                "id_profesor" : id_profesor,
                                "nivel_leccion" : nivel,
                            },
                        });
                        
                        $('#blips > .progress-bar').attr("style","width:" + progress + "%");

                    }else if ($(check).is(":checked") == false) {
                        progress = progress-porcentaje;

                        $.ajax({
                            type: "GET",
                            url: '/eliminar_db',
                            data: {
                                "id_leccion": ID_checkbox,
                                "id_profesor" : id_profesor,
                                "nivel_leccion" : nivel,
                            },
                            dataType: "json",
                        });

                        $('#blips > .progress-bar').attr("style","width:" + progress + "%");
                    }
            }); 
    });
</script>


<div class="container-fluid" style="background-color: #343F4B;padding-top: 6rem;padding-bottom: 0.5rem;">
            
    <div class="row">
        <div class="col-lg-1 col-md-2 col-sm-3">
            <form action="{{ atras }}" method="GET">       
                <input type="image" name="boton_back" style="margin-left: 20px;" src="{% static 'Imagenes/boton_atras.png' %}" alt="Volver atras" width="50" height="50">                
            </form>
        </div>
    <div class="col-lg-5 col-md-5 col-sm-7">
        {% for profesor in profesores %}     
            <h1 style = "color: white;">

                {{ profesor.nombre_profesor }} {{ profesor.apellido_profesor }} 
                
            </h1>
        {% endfor %}
            <p style = "color: white;">
                {{nivel}}
            </p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <h5 class="text-light" style="margin-top: 2%;">Tu progreso en este curso:</h5>
                
                <div class="progress" id="blips">
                    <div class="progress-bar" role="progressbar" style="width: {{ tamanio_barra_progreso }};" >
                    <span class="sr-only"></span>
                  </div>
                </div>
        </div>     
    </div>     
      
</div>

<div class="container-fluid">
    <link rel="stylesheet" href="{% static '/css/Fondo.css' %}" >
        <div class="container contenedor"> 
             

            {% if lecciones %}
            {% if bandera %} 
            <div class="container">
                <div class="alert alert-dismissible" style="margin-top: 15px; background-color: rgb(88, 90, 107); color: white;">
                    <h6><strong>Recomendaci&oacute;n:</strong> Si no logras entender los videos de este nivel, te recomendamos que empieces por un nivel inferior.</h6>
                  </div>
            </div>
            {% endif %}
            
            {% for leccion in lecciones %} 

                {% if leccion.id in lista_vistos %}
                    <div class="class" id="progreso">
                            
                        <div class="checkbox" id="{{ leccion.id }}">
                        <h1 style="color: white; margin-top: 30px; margin-bottom: 30px;">{{ leccion.nombre_leccion }}&nbsp;    
                        <input type="checkbox" value="{{ leccion.id }}" nombre = "{{ leccion.id }}" id="{{ leccion.id }}" checked>
                        </h1>
                        </div>
                        
                    </div>
                {% else %}
                    <div class="class" id="progreso">
                            
                        <div class="checkbox" id="{{ leccion.id }}">
                        <h1 style="color: white; margin-top: 30px; margin-bottom: 30px;">{{ leccion.nombre_leccion }}&nbsp;    
                        <input type="checkbox" value="{{ leccion.id }}" nombre = "{{ leccion.id }}" id="{{ leccion.id }}" >
                        </h1>
                        </div>
                        
                    </div>
                {% endif %}
                
                <div class="row">
                    <div class="container">
                        <div class="ratio" style="--bs-aspect-ratio: 50%;">
                            <iframe width="560" height="315" src="{{ leccion.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    
                        </div> 
                            <div class="container text-left" style="margin-top: 30px;">  
                                <h4 style="color: white;"> {{ leccion.descripcion }} </h4>
                            </div>
                        </div>
                    </div>
              
            {% endfor %} 
            {% else %}
            <div class="container" style="padding-top: 60px; padding-bottom: 60px;">
                <center><h1>No hay videos disponibles</h1></center>
            </div>
            {% endif %}
        </div>
</div>    

{% endblock %}