{% extends 'Base.html' %}

 {% block title %}
     Acoustic Live | Nivel Principiante
 {% endblock %}

{% block content %}
{% load static %}


<div class="container-fluid" style="background-color: #343F4B;padding-top: 6rem;padding-bottom: 0.5rem;">
            
    <div class="row">
        <div class="col-lg-1 col-md-2 col-sm-3">
            <form action="{{ atras }}" method="GET">       
                <input type="image" name="boton_back" style="margin-left: 20px;" src="{% static 'Imagenes/boton_atras.png' %}" alt="Volver atras" width="50" height="50">                
            </form>
        </div>
    <div class="col-lg-5 col-md-5 col-sm-7">
        {% for profesor in profesores %}     
            <h1 style = "color: white;">

                {{ profesor.nombre_profesor }} {{ profesor.apellido_profesor }} 
                
            </h1>
        {% endfor %}
            <p style = "color: white;">
                {{nivel_leccion}}
            </p>
        </div>
    </div>     
      
</div>

<div class="container-fluid">
    <link rel="stylesheet" href="{% static '/css/fondo.css' %}" >
        <div class="container contenedor"> 
             
            {% if lecciones %}
            {% if bandera %} 
            <div class="container">
                <div class="alert alert-dismissible" style="margin-top: 15px; background-color: rgb(88, 90, 107); color: white;">
                    <h6><strong>Recomendaci&oacute;n:</strong> Si no logras entender los videos de este nivel, te recomendamos que empieces por un nivel inferior.</h6>
                  </div>
            </div>
            {% endif %}
            
            {% for leccion in lecciones %} 
                
                <h1 style="color: white; margin-top: 30px; margin-bottom: 30px;">{{ leccion.nombre_leccion }}</h1>

                <div class="row">
                    <div class="container">
                        <div class="ratio" style="--bs-aspect-ratio: 50%;">
                            <iframe width="560" height="315" src="{{ leccion.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                    
                        </div> 
                            <div class="container text-left" style="margin-top: 30px;">  
                                <h4 style="color: white;"> {{ leccion.descripcion }} </h4>
                            </div>
                        </div>
                    </div>
              
            {% endfor %} 
            {% else %}
            <div class="container" style="padding-top: 60px; padding-bottom: 60px;">
                <center><h1>No hay videos disponibles</h1></center>
            </div>
            {% endif %}
        </div>
</div>    

{% endblock %}