{% extends 'base.html' %}

 {% block title %}
    Acoustic Live | Mis Cursos
 {% endblock %}

{% block content %}
{% load static %}

    <div class="container-fluid">
        <link rel="stylesheet" href="{% static '/css/Fondo.css' %}">
        <div class="container contenedor" style="padding-top: 10%;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row mt-5">
                        <div class="container mt-2">
                            {%ifequal 3 id %}
                            <center><input type="image" src="{% static 'Imagenes/AaronSilva.jpg' %}" width="200" height="200" style="border-radius: 100%;"></center>
                            {%endifequal%}

                            {%ifequal 1 id %}
                            <center><input type="image" src="{% static 'Imagenes/MarioFreiria.jpg' %}" width="200" height="200" style="border-radius: 100%;"></center>
                            
                            {%endifequal%}

                            {%ifequal 2 id %}
                            <center><input type="image" src="{% static 'Imagenes/ChristianVib.jpg' %}" width="200" height="200" style="border-radius: 100%;"></center>
                            {%endifequal%}

                            <center><h1 style="margin-top: 5%;">{{nombre_profesor}} {{apellido_profesor}}</h1></center>
                        </div>
                    </div>
                    <div class="form-group mx-sm-4">
                        <form action="{{id_profesor}}" method="GET"> <!--Poner id profesores-->    
                            <input type="submit" class="btn btn-dark w-100 mt-5 mb-3" value="Registrar Lecci&oacute;n">
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="container" style="border: solid 3px #fff; padding: 1%; width: 70%;">
                            <h1 class="text-center"> Mis videos </h1>
                        </div>
                    </div>
                    <div class="row">
                        <form action="/Mis_Videos/1/" method="GET">       
                            <center><input type="image" name="boton_back" style="margin: 5%;" src="{% static 'Imagenes/b1.png' %}" alt="Niv Principiante" width="70%" height="8%"></center>             
                        </form>
                    </div>
                    <div class="row">
                        <form action="/Mis_Videos/2/" method="GET">       
                            <center><input type="image" name="boton_back" style="margin: auto;" src="{% static 'Imagenes/b2.png' %}" alt="Niv Medio" width="70%" height="8%"></center>                
                        </form>
                    </div>
                    <div class="row">
                        <form action="/Mis_Videos/3/" method="GET">       
                            <center><input type="image" name="boton_back" style="margin: 5%;" src="{% static 'Imagenes/b3.png' %}" alt="Niv avanzado" width="70%" height="8%"></center>                
                        </form>
                    </div>
                </div>               
            </div>
        </div>
    </div> 
{% endblock %}