{% extends 'Base.html' %}

 {% block title %}
     Acoustic Live | Cancion
 {% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <link rel="stylesheet" href="{% static '/css/fondo.css' %}">
    <div class="container contenedor"  style="padding-top: 120px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="flex-container">
                        <div>
                            <!--En la parte donde dice "src" va la imagen de la cancion-->
                            <Center><input type="image" name="1" src="{% static 'Imagenes/llamita_icon.ico' %}" alt="Nivel Principiante" width="120" height="120" style="border-radius: 100%;"></Center>
                        </div>
                        <div class="text-light">
                            <!--En los h remplazan los datos que estan escritos-->
                            <h2>Little Things</h2>
                            <h5>One Direction</h5>
                            <h5>2012-Take Me Home</h5>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 7%; padding-right: 5%;padding-left: 5%;">
                    <div class="container letracordes" style="padding-left: 10%; padding-right: 10%;">
                        <!--Remplazando los lorem ponen lo de la letra, cada p es un parrafo aumenten segun lo que 
                        necesiten-->
<pre>
[Intro] SOL  DO  MIm  RE  DO  RE  SOL

[Primera Parte]

<p>Your hand fits in mine</br>
Like it's made just for me</br>
     DO
But bear this in mind</br>
It was meant to be</br>
          MIm
And I'm joining up the dots</br>
           RE
Wit h the freckles on your cheeks</br>
       DO          RE        SOL
And it all makes sense to me</p>

<p>I know you've never loved</br>
The crinkles by your eyes</br>
           DO
When you smile</br>
You've never loved</br>
Your stomach or your thighs</br>
     MIm
The dimples in your back</br>
        RE
At the bottom of your spine</br>
          DO        RE       SOL
But I'll love them endlessly</p>

[Coro]

<p>LAm                            DO
   I won't let these little things</br>
     MIm         RE
Slip out of my mouth</br>
          LAm        DO
But if I do,  it's you</br>
          MIm              RE
Oh, it's you they add up to</br>
        DO
I'm in love with you</br>
                       SOL
And all these little things</p>

[Segunda Parte]

<p>You can't go to bed</br>
Without a cup of tea</br>
     DO
And maybe that's the reason</br>
That you talk in your sleep</br>
    MIm
And all those conversations</br>
         DO
Are the secrets that I keep</br>
           DO        RE        SOL
Though it makes no sense to me</p>

<p>I know you've never loved</br>
                            DO
The sound of your voice on tape</br>
You never want </br>
To know how much you weigh</br>
 MIm
You still love to squeeze </br>
   RE
Into your jeans</br>
     DO         RE       SOL
But you're perfect to me</p>

[Coro]

<p>LAm                            DO
   I won't let these little things</br>
     MIm         RE
Slip out of my mouth</br>
          LAm        DO
But if I do,  it's you</br>
          MIm              RE
Oh, it's you they add up to</br>
        DO
I'm in love with you</br>
                       SOL
And all these little things</p>

[Tercera Parte]

<p>LAm               DO
   You'll never love yourself</br>
     SOL                  RE
Half as much as I love you</br>
LAm                DO
   You'll never treat yourself right </br>
    SOL                     RE
Darlin' but I want you to</br>
LAm                DO
   If I let you know</br>
     SOL        RE
I'm here for you</br>
LAm               DO
   Maybe you'll love yourself</br>
     SOL       RE
Like I love you, oh</p>

[Coro Final]

<p>LAm                            DO
   I won't let these little things</br>
     MIm         RE
Slip out of my mouth</br>
          LAm        DO
But if I do,  it's you</br>
          MIm              RE
Oh, it's you they add up to</br>
        DO
I'm in love with you</br>
                       SOL
And all these little things</p>

<p>LAm                            DO
   I won't let these little things</br>
     MIm         RE
Slip out of my mouth</br>
          LAm        DO
But if I do,  it's you</br>
          MIm              RE
Oh, it's you they add up to</br>
        DO
I'm in love with you</br>
                       SOL
And all these little things</p>
   
</pre>






                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row" style="margin-top: 6%;">
                    <!--dentro de center ponen el video (en el src ponen el link con embed), si es que
                    remplazan todo el iframe entonces ponen en width="350" y en height="250"-->
                    <center><iframe width="350" height="250" src="https://www.youtube.com/embed/Nj8v37au3hA"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <h2 class="text-light">Acordes</h2>

                <!--Esto es una fila con dos acordes, segun lo que necesiten van aumentando 
                    todo lo que esta adentro-->
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                    <!--esto es solo un acorde-->
                        <div>
                            <!--en el "src" remplazan con la imagen de la nota-->
                            <img src="{% static 'acordes_guitarra/SOL(sol mayor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">Sol mayor</h6>
                        </div>
                    <!--aqui termina el acorde-->

                    <!--Este es el segundo acorde-->
                        <div>
                            <img src="{% static 'acordes_guitarra/DO(do mayor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">Do mayor</h6>
                        </div>
                     <!--aqui termina el segundo acorde-->
                    </div>
                 <!--Aqui termina la fila de dos acordes-->

                 <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                    <!--esto es solo un acorde-->
                        <div>
                            <!--en el "src" remplazan con la imagen de la nota-->
                            <img src="{% static 'acordes_guitarra/RE(re mayor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">RE mayor</h6>
                        </div>
                    <!--aqui termina el acorde-->

                    <!--Este es el segundo acorde-->
                        <div>
                            <img src="{% static 'acordes_guitarra/MIm(mi menor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">Mi menor</h6>
                        </div>
                     <!--aqui termina el segundo acorde-->
                    </div>
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                        <!--esto es solo un acorde-->
                            <div>
                                <!--en el "src" remplazan con la imagen de la nota-->
                                <img src="{% static 'acordes_guitarra/LAm(la menor).png' %}" style="height: 180px; width: 100px;">
                                <h6 class="text-light text-center">La menor</h6>
                            </div>

                                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}