{% extends 'Base.html' %}

 {% block title %}
     Acoustic Live | Cancion
 {% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <link rel="stylesheet" href="{% static '/css/fondo.css' %}">
    <div class="container contenedor"  style="padding-top: 120px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="flex-container">
                        <div>
                            <!--En la parte donde dice "src" va la imagen de la cancion-->
                            <Center><input type="image" name="1" src="{% static 'Imagenes/llamita_icon.ico' %}" alt="Nivel Principiante" width="120" height="120" style="border-radius: 100%;"></Center>
                        </div>
                        <div class="text-light">
                            <!--En los h remplazan los datos que estan escritos-->
                            <h2>Por Mil Noches</h2>
                            <h5>Airbag</h5>
                            <h5>2013-Libertad</h5>
                            
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 7%; padding-right: 5%;padding-left: 5%;">
                    <div class="container letracordes" style="padding-left: 10%; padding-right: 10%;">
                        <!--Remplazando los lorem ponen lo de la letra, cada p es un parrafo aumenten segun lo que 
                        necesiten-->
                        <pre>

<p>DO#m              SI
Yo se que algunas veces</br>
LA              MI
me equivoco demasiado</br>
<a>DO#m</a>                <a>SOL#m</a>                           
yo s&eacute; que est&aacute;s cansada</br>
<a>LA</a>                <a>MI</a>  <a>SI</a>
de mirarme de costado.</P>

<p><a>DO#m</a>        <a>SI</a>
Estoy arrepentido</br>
      <a>LA</a>         <a>MI</a>
y me gana la nostalgia</br>
<a>DO#m</a>           <a>SOL#m</a>
ser&aacute; que lo divino</br>
    <a>LA</a>                  <a>MI</a>   <a>SI</a>
no mezcl&oacute; muy bien las cartas.</p>

<p><a>DO#m</a>                <a>SI</a>
Ser&aacute; cuesti&oacute;n de suerte</br>
<a>LA</a>                <a>MI</a>
que sigamos separados</br>
<a>DO#m</a>           <a>SOL#m</a>
quisiera encerrarte</br>
<a>LA</a>               <a>MI</a>            <a>SI</a>
por mil noches, por mil a&ntilde;os.</P>
                                                      
<p>Coro:</br>
<a>FA#m</a>         <a>SI</a>          <a>SOL#m</a>
Sigo sin saber nada de vos</br>
          <a>DO#m</a>
en este incendio.</br>
<a>FA#m</a>            <a>SI</a>            <a>SOL#m</a>
Cada vez que est&aacute;s cerca de mi</br>
        <a>DO#m</a>
es un infierno</br>
<a>LA</a>               <a>SI</a>      <a>MI</a>
desde el d&iacute;a en que te conoc&iacute;.</p>
                            
                            <p>**Solo**</p>
                            
 
                            <p>**Igual a la primera parte**</p>

<p>Quisiera encontrarte</br>
alg&uacute;n d&iacute;a en mi camino.</br>
No ves que sigo atado</br>
a un recuerdo que no olvido.</p>
                            
                            
<p>Y tengo tantas cosas</br>
que decirte al o&iacute;do.</br>
Mentiras o verdades</br>
que no importa, da lo mismo.</p>

<p>Sigo sin saber nada de vos</br>
en este incendio.</br>
Cada vez que est&aacute;s cerca de mi</br>
es un infierno.</p>
                            
<p>Sigo sin saber nada de vos</br>
en este incendio.</br>
Cada vez que est&aacute;s cerca de mi</br>
es un infierno.</p>
                            
<p><a>LA</a>               <a>SI</a>
Hace un tiempo estoy as&iacute;</br>
<a>LA</a>         <a>SI</a>
no puedo dormir</br>
<a>LA</a>               <a>SI</a>       <a>MI</a>
desde el d&iacute;a en que te conoc&iacute;.</p>
                            
<p><a>DO#m</a>               <a>SOL#m</a>
Y las horas en la noche</br>
<a>LA</a>                  <a>MI</a>
o en la media madrugada,</br>
<a>LA</a>                  <a>DO#m</a>
donde brillan las estrellas,</br>
<a>LA</a>                  <a>FA#m</a> <a>SI</a>
donde ya no queda nada.</p>
                            
<p><a>DO#m</a>               <a>SOL#m</a>
Y la noche me sorprende</br>
<a>LA</a>                  <a>MI</a>
y me arranca las entra&ntilde;as</br>
<a>LA</a>                  <a>DO#m</a>
y me mata poco a poco</br>
<a>LA</a>                  <a>FA#m</a> <a>SI</a>
me va dejando sin nada.</p>
                            
<p><a>DO#m</a>               <a>SOL#m</a>
Y tu risa se desborda</br>
<a>LA</a>                 <a>MI</a>
donde mueren las promesas</br>
<a>LA</a>                  <a>DO#m</a>
no me pidas que me enoje</br>
<a>LA</a>                  <a>FA#m</a>  <a>SI</a>
si enojarse es tu destreza.</p>
                            
<p><a>DO#m</a>               <a>SOL#m</a>
Y no olvides que nos dimos</br>
<a>LA</a>                <a>MI</a>
todo lo que nos quedaba</br>
<a>LA</a>                  <a>DO#m</a>
sin embargo, casi nunca,</br>
<a>LA</a>                  <a>FA#m</a>  <a>SI</a>
nunca no nos alcanzaba.</p>
                            
<p><a>DO#m</a>               <a>SOL#m</a>
Esa noche que te fuiste</br>
<a>LA</a>                   <a>MI</a>
y que empezamos a odiarnos</br>
<a>LA</a>                  <a>DO#m</a>
cada d&iacute;a que se vuela</br>
<a>LA</a>                  <a>FA#m</a>  <a>SI</a>
cada vez yo mas te extra&ntilde;o</p>
                            
                            <div></div><a>DO#m</a> <a>SOL#m</a> <a>LA</a> <a>MI</a>
                            <div></div><a>LA</a> <a>DO#m</a> <a>LA</a> <a>FA#m</a> <a>SI</a>
                            
                 
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row" style="margin-top: 6%;">
                    <!--dentro de center ponen el video (en el src ponen el link con embed), si es que
                    remplazan todo el iframe entonces ponen en width="350" y en height="250"-->
                    <center><iframe width="350" height="250" src="https://www.youtube.com/embed/kdfkr1WEzIc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <h2 class="text-light">Acordes</h2>

                <!--Esto es una fila con dos acordes, segun lo que necesiten van aumentando 
                    todo lo que esta adentro-->
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                    <!--esto es solo un acorde-->
                        <div>
                            <!--en el "src" remplazan con la imagen de la nota-->
                            <img src="{% static 'acordes_guitarra/DO#m(do sostenido menor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">Do sostenido</br>menor</h6>
                        </div>
                    <!--aqui termina el acorde-->

                    <!--Este es el segundo acorde-->
                        <div>
                            <img src="{% static 'acordes_guitarra/SI(si mayor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">Si mayor</h6>
                        </div>
                     <!--aqui termina el segundo acorde-->
                    </div>
                         
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                        <!--esto es solo un acorde-->
                            <div>
                                <!--en el "src" remplazan con la imagen de la nota-->
                                <img src="{% static 'acordes_guitarra/LA (la mayor).png' %}" style="height: 180px; width: 100px;">
                                <h6 class="text-light text-center">La mayor</h6>
                            </div>
                        <!--aqui termina el acorde-->
    
                        <!--Este es el segundo acorde-->
                            <div>
                                <img src="{% static 'acordes_guitarra/MI(mi mayor).png' %}" style="height: 180px; width: 100px;">
                                <h6 class="text-light text-center">Mi mayor</h6>
                            </div>
                         <!--aqui termina el segundo acorde-->
                        </div>

                        <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                            <!--esto es solo un acorde-->
                                <div>
                                    <!--en el "src" remplazan con la imagen de la nota-->
                                    <img src="{% static 'acordes_guitarra/SOL#m(sol sostenido menor).png' %}" style="height: 180px; width: 100px;">
                                    <h6 class="text-light text-center">Sol sostenido</br>menor</h6>
                                </div>
                            <!--aqui termina el acorde-->
        
                            <!--Este es el segundo acorde-->
                                <div>
                                    <img src="{% static 'acordes_guitarra/FA#m(fa sostenido menor).png' %}" style="height: 180px; width: 100px;">
                                    <h6 class="text-light text-center">Fa sostenido</br>menor</h6>
                                </div>
                             <!--aqui termina el segundo acorde-->
                            </div>


                        



                 <!--Aqui termina la fila de dos acordes-->
                                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}