{% extends 'Base.html' %}

 {% block title %}
     Acoustic Live | Cancion
 {% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <link rel="stylesheet" href="{% static '/css/fondo.css' %}">
    <div class="container contenedor"  style="padding-top: 120px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="flex-container">
                        <div>
                            <!--En la parte donde dice "src" va la imagen de la cancion-->
                            <Center><input type="image" name="1" src="{% static 'Imagenes/llamita_icon.ico' %}" alt="Nivel Principiante" width="120" height="120" style="border-radius: 100%;"></Center>
                        </div>
                        <div class="text-light">
                            <!--En los h remplazan los datos que estan escritos-->
                            <h2>Ave de Cristal</h2>
                            <h5>Los kjarkas</h5>
                            <h5>1990-Chuntunquis</h5>
                        </div>
                    </div>
                </div>
                
                <div class="row" style="margin-top: 7%; padding-right: 5%;padding-left: 5%;">
                    <div class="container letracordes" style="padding-left: 10%; padding-right: 10%;">
                        <!--Remplazando los lorem ponen lo de la letra, cada p es un parrafo aumenten segun lo que 
                        necesiten-->
                        
                        <pre><div></div><a>REm</a>
No se acaba el mundo
                            <div></div>     <a>SOLm</a>
cuando un amor se va
                            <div></div><a>LA#</a>
no se acaba el mundo
                            <div></div>                <a>LA7</a>
y no se derrumbará
                            
                            <div></div><a>REm</a>
Si fue verdadero
                            <div></div>          <a>SOLm</a>
tras sus huellas volverán
                            <div></div><a>DO</a>
si no fue sincero
                            <div></div>     <a>LA#</a>          <a>LA7</a>
otro lo reemplazará
                            
                            <div></div><a>REm</a>
No se acaba el mundo
                            <div></div>     <a>SOLm</a>
cuando un amor se va
                            <div></div><a>LA#</a>
no se acaba el mundo
                            <div></div>                <a>LA7</a>
y no se derrumbará
                            
                            <div></div><a>REm</a>
No hay lluvia en el alma
                            <div></div>        <a>SOLm</a>
que no acabe con un sol
                            <div></div><a>DO</a>
ni se limpia el cielo
                            <div></div>        <a>LA#</a>       <a>LA7</a>          <a>REm</a>
cuando deja de llover... de llover
                            
                            <div></div>            <a>SOLm</a>
Y es el corazón
                            <div></div>        <a>DO</a>          <a>FA</a>
como un ave de cristal
                            <div></div>            <a>LA#</a>         <a>SOLm</a>
que es tan frágil de romper
                            <div></div>       <a>LA#</a>           <a>LA7</a> - <a>REm</a>
tan difícil de entender
                            
                            <div></div>            <a>SOLm</a>
Y es el corazón
                            <div></div>         <a>DO</a>            <a>FA</a>
como el destino tan cruel
                            <div></div>       <a>LA#</a>         <a>SOLm</a>
tan difícil de torcer
                            <div></div>       <a>LA#</a>         <a>LA7</a>
y tan fácil de perder
                            <div></div>        <a>REm</a> <a>DO</a>      <a>REm</a>
es el amor...es el amor
                         
            Se repite toda la canción.
                            </pre>
                            
                        </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row" style="margin-top: 6%;">
                    <!--dentro de center ponen el video (en el src ponen el link con embed), si es que
                    remplazan todo el iframe entonces ponen en width="350" y en height="250"-->
                    <center><iframe width="350" height="250" src="https://www.youtube.com/embed/S4bmtHKJB40" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <h2 class="text-light">Acordes</h2>

                <!--Esto es una fila con dos acordes, segun lo que necesiten van aumentando 
                    todo lo que esta adentro-->
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                    <!--esto es solo un acorde-->
                        <div>
                            <!--en el "src" remplazan con la imagen de la nota-->
                            <img src="{% static 'acordes_guitarra/REm(re menor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">RE menor</h6>
                        </div>
                    <!--aqui termina el acorde-->

                    <!--Este es el segundo acorde-->
                        <div>
                            <img src="{% static 'acordes_guitarra/SOLm(sol menor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">SOL menor</h6>
                        </div>
                     <!--aqui termina el segundo acorde-->
                    </div>
                 <!--Aqui termina la fila de dos acordes-->
                 <!--Esto es una fila con dos acordes, segun lo que necesiten van aumentando 
                    todo lo que esta adentro-->
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                        <!--esto es solo un acorde-->
                            <div>
                                <!--en el "src" remplazan con la imagen de la nota-->
                                <img src="{% static 'acordes_guitarra/LA#(la sostenido).png' %}" style="height: 180px; width: 100px;">
                                <h6 class="text-light text-center">LA sostenido</h6>
                            </div>
                        <!--aqui termina el acorde-->
    
                        <!--Este es el segundo acorde-->
                            <div>
                                <img src="{% static 'acordes_guitarra/LA7(la septima).png' %}" style="height: 180px; width: 100px;">
                                <h6 class="text-light text-center">LA séptima</h6>
                            </div>
                         <!--aqui termina el segundo acorde-->
                        </div>
                     <!--Aqui termina la fila de dos acordes-->
                     <!--Esto es una fila con dos acordes, segun lo que necesiten van aumentando 
                    todo lo que esta adentro-->
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                        <!--esto es solo un acorde-->
                            <div>
                                <!--en el "src" remplazan con la imagen de la nota-->
                                <img src="{% static 'acordes_guitarra/DO(do mayor).png' %}" style="height: 180px; width: 100px;">
                                <h6 class="text-light text-center">DO mayor</h6>
                            </div>
                        <!--aqui termina el acorde-->
    
                        <!--Este es el segundo acorde-->
                            <div>
                                <img src="{% static 'acordes_guitarra/FA(fa mayor).png' %}" style="height: 180px; width: 100px;">
                                <h6 class="text-light text-center">FA menor</h6>
                            </div>
                         <!--aqui termina el segundo acorde-->
                        </div>
                     <!--Aqui termina la fila de dos acordes-->
                                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}