{% extends 'Base.html' %}

 {% block title %}
     Acoustic Live | Cancion
 {% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <link rel="stylesheet" href="{% static '/css/fondo.css' %}">
    <div class="container contenedor"  style="padding-top: 120px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="flex-container">
                        <div>
                            <!--En la parte donde dice "src" va la imagen de la cancion-->
                            <Center><input type="image" name="1" src="{% static 'Imagenes/llamita_icon.ico' %}" alt="Nivel Principiante" width="120" height="120" style="border-radius: 100%;"></Center>
                        </div>
                        <div class="text-light">
                            <!--En los h remplazan los datos que estan escritos-->
                            <h2>Besos en Guerra</h2>
                            <h5>Morat</h5>
                            <h5>2018-Balas Perdidas</h5>
                        </div>
                    </div>
                </div>
                
                <div class="row" style="margin-top: 7%; padding-right: 5%;padding-left: 5%;">
                    <div class="container letracordes" style="padding-left: 6%; padding-right: 8%;">
                        <!--Remplazando los lorem ponen lo de la letra, cada p es un parrafo aumenten segun lo que 
                        necesiten-->
                        
                        <pre><div></div> <a>SIm</a>                    <a>SOL</a>
¿Quién te dijo esa mentira?
                            <div></div><a>RE</a>                     <a>LA</a>
que eras fácil de olvidar
                            <div></div><a>SIm</a>                   <a>SOL</a>
no hagas caso a tus amigos
                            <div></div><a>RE</a>                      <a>LA</a>
solo son testigos de la otra mitad.
                            
                            <div></div><a>SIm</a>                 <a>SOL</a>
Dos besos son demasiado
                            <div></div><a>RE</a>             <a>LA</a>
y un beso no bastará
                            <div></div><a>SIm</a>                      <a>SOL</a>
y aunque adviertan a soldados
                            <div></div><a>RE</a>                     <a>LA</a>
si está enamorado en guerra morirá.
                            
                            <div></div><a>SOL</a>                <a>LA</a>
Ya no tienes que cuidarme porque
                            
                            <div></div><a>SIm</a>           <a>SOL</a>                     <a>RE</a>
Yo siempre he sabido que tus besos matan
                            <div></div><a>LA</a>                    <a>SIm</a>
que tus promesas riman con dolor
                            <div></div><a>SOL</a>                    <a>RE</a>                <a>LA</a>
que eres experta en robarle latidos a mi corazón.
                            
                            <div></div><a>SIm</a>              <a>SOL</a>              <a>RE</a>
Y tú nunca juraste que saldría ileso
                            <div></div><a>LA</a>                      <a>SIm</a>
ya no te atrevas a pedir perdón
                            <div></div><a>SOL</a>                        <a>RE</a>
yo te confieso que no me arrepiento
                            <div></div><a>LA</a>                            <a>MIm</a>
y aunque estoy sufriendo podría estar peor (Wo oh)
                            <div></div><a>SOL</a>                <a>LA</a>                  <a>SIm</a>
sabiendo que tus besos matan moriré de amor
                            <div></div><a>SIm</a>    <a>SOL</a>
Wo.. Oh...
                            <div></div><a>RE</a>             <a>LA</a>                   <a>SIm</a>
sabiendo que tus besos matan moriré de amor
                            <div></div><a>SIm</a>    <a>SOL</a>
Wo.. Oh...
                            <div></div><a>RE</a>                       <a>LA</a>
sabiendo que tus besos matan
                            
                            <div></div><a>SIm</a>                    <a>SOL</a>
Para mí nunca fue un juego
                            <div></div><a>RE</a>                  <a>LA</a>
para ti fue un beso más
                            <div></div><a>SIm</a>                    <a>SOL</a>
y si hoy vuelves a mi vida
                            <div></div><a>RE</a>                     <a>LA</a>
no es que estés perdida, no es casualidad.
                            
                            <div></div><a>SOL</a>                 <a>LA</a>
Ya no tienes que cuidarme porque
                            
                            <div></div><a>SIm</a>              <a>SOL</a>               <a>RE</a>
Yo siempre he sabido que tus besos matan
                            <div></div><a>LA</a>                    <a>SIm</a>
que tus promesas riman con dolor
                            <div></div><a>SOL</a>                    <a>RE</a>                <a>LA</a>
que eres experta en robarle latidos a mi corazón.
                            
                            <div></div><a>SIm</a>           <a>SOL</a>                <a>RE</a>
Y tú nunca juraste que saldría ileso
                            <div></div><a>LA</a>                      <a>SIm</a>
ya no te atrevas a pedir perdón
                            <div></div><a>SOL</a>                     <a>RE</a>
yo te confieso que no me arrepiento
                            <div></div><a>LA</a>                            <a>MIm</a>
y aunque estoy sufriendo podría estar peor (Wo oh)
                            <div></div><a>SOL</a>               <a>LA</a>                  <a>SIm</a>
sabiendo que tus besos matan moriré de amor
                            <div></div><a>SIm</a>    <a>SOL</a>
Wo.. Oh...
                            <div></div><a>RE</a>               <a>LA</a>                 <a>SIm</a>
sabiendo que tus besos matan moriré de amor
                            <div></div><a>SIm</a>    <a>SOL</a>
Wo.. Oh...
                            <div></div><a>RE</a>                        <a>LA</a>
sabiendo que tus besos matan
                            
                            <div></div><a>SIm</a>                           <a>SOL</a>
Ganaré la guerra para conquistarte
                            <div></div><a>RE</a>                                   <a>LA</a>
no quiero admitir que te vas, que te vas
                            <div></div><a>SIm</a>                            <a>SOL</a>
Ganaré la guerra para conquistarte
                            <div></div> <a>RE</a>                                  <a>LA</a>
no quiero admitir que te vas, que te vas
                            <div></div><a>SIm</a>                                <a>SOL</a>
Yo perdí batallas por nunca aceptar
                            <div></div><a>RE</a>                     <a>LA</a>
que no eras fácil de olvidar
                            
                            <div></div><a>SIm</a>                <a>SOL</a>                     <a>RE</a>
Porque yo siempre he sabido que tus besos mata
                            <div></div> <a>LA</a>                    <a>SIm</a>
que tus promesas riman con dolor
                            <div></div><a>SOL</a>              <a>RE</a>                <a>LA</a>
que eres experta en robarle latidos a mi corazón.
                            
                            <div></div><a>SIm</a>             <a>SOL</a>                <a>RE</a>
Y tú nunca juraste que saldría ileso
                            <div></div><a>LA</a>                      <a>SIm</a>
ya no te atrevas a pedir perdón
                            <div></div><a>SOL</a>                     <a>RE</a>
yo te confieso que no me arrepiento
                            <div></div><a>LA</a>                            <a>MIm</a>
y aunque estoy sufriendo podría estar peor (Wo oh)
                            <div></div><a>SOL</a>             <a>LA</a>                      <a>SIm</a>
sabiendo que tus besos matan moriré de amor
                            <div></div><a>SIm</a>    <a>SOL</a>
Wo.. Oh...
                            <div></div><a>RE</a>              <a>LA</a>                     <a>SIm</a>
sabiendo que tus besos matan moriré de amor
                            <div></div><a>SIm</a>    <a>SOL</a>
Wo.. Oh...
                            <div></div><a>RE</a>                       <a>LA</a>
sabiendo que tus besos matan
                            </pre>
                            
                        </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row" style="margin-top: 6%;">
                    <!--dentro de center ponen el video (en el src ponen el link con embed), si es que
                    remplazan todo el iframe entonces ponen en width="350" y en height="250"-->
                    <center><iframe width="350" height="250" src="https://www.youtube.com/embed/2eLVYhUQZ1k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <h2 class="text-light">Acordes</h2>

                <!--Esto es una fila con dos acordes, segun lo que necesiten van aumentando 
                    todo lo que esta adentro-->
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                    <!--esto es solo un acorde-->
                        <div>
                            <!--en el "src" remplazan con la imagen de la nota-->
                            <img src="{% static 'acordes_guitarra/SIm(si menor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">SI menor</h6>
                        </div>
                    <!--aqui termina el acorde-->

                    <!--Este es el segundo acorde-->
                        <div>
                            <img src="{% static 'acordes_guitarra/SOL(sol mayor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">SOL mayor</h6>
                        </div>
                     <!--aqui termina el segundo acorde-->
                    </div>
                 <!--Aqui termina la fila de dos acordes-->
                 <!--Esto es una fila con dos acordes, segun lo que necesiten van aumentando 
                    todo lo que esta adentro-->
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                        <!--esto es solo un acorde-->
                            <div>
                                <!--en el "src" remplazan con la imagen de la nota-->
                                <img src="{% static 'acordes_guitarra/RE(re mayor).png' %}" style="height: 180px; width: 100px;">
                                <h6 class="text-light text-center">RE mayor</h6>
                            </div>
                        <!--aqui termina el acorde-->
    
                        <!--Este es el segundo acorde-->
                            <div>
                                <img src="{% static 'acordes_guitarra/LA (la mayor).png' %}" style="height: 180px; width: 100px;">
                                <h6 class="text-light text-center">LA mayor</h6>
                            </div>
                         <!--aqui termina el segundo acorde-->
                        </div>
                     <!--Aqui termina la fila de dos acordes-->
                     <!--Esto es una fila con dos acordes, segun lo que necesiten van aumentando 
                    todo lo que esta adentro-->
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                        <!--esto es solo un acorde-->
                            <div>
                                <!--en el "src" remplazan con la imagen de la nota-->
                                <img src="{% static 'acordes_guitarra/Mim(mi menor).png' %}" style="height: 180px; width: 100px;">
                                <h6 class="text-light text-center">MI menor</h6>
                            </div>
                        <!--aqui termina el acorde-->
                    </div>
                     <!--Aqui termina la fila de dos acordes-->
                                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}