{% extends 'Base.html' %}

 {% block title %}
     Acoustic Live | Cancion
 {% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <link rel="stylesheet" href="{% static '/css/fondo.css' %}">
    <div class="container contenedor"  style="padding-top: 120px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="flex-container">
                        <div>
                            <!--En la parte donde dice "src" va la imagen de la cancion-->
                            <Center><input type="image" name="1" src="{% static 'Imagenes/llamita_icon.ico' %}" alt="Nivel Principiante" width="120" height="120" style="border-radius: 100%;"></Center>
                        </div>
                        <div class="text-light">
                            <!--En los h remplazan los datos que estan escritos-->
                            <h2>Nombre de la cancion</h2>
                            <h5>Artista o grupo</h5>
                            <h5>Fecha-Album</h5>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 7%; padding-right: 5%;padding-left: 5%;">
                    <div class="container letracordes" style="padding-left: 10%; padding-right: 10%;">
                        <!--Remplazando los lorem ponen lo de la letra, cada p es un parrafo aumenten segun lo que 
                        necesiten-->
                        <pre><div></div>\  <a>REm</a>   /                    
                            |EBGDAE|                                  
                            |------|       
                           <div></div>1|x¦¦¦¦¦|   <a>REm</a>
                            |------|   Yo que fije las reglas 
                           <div></div>2|¦¦x¦¦¦|                                   <a>LAM7</a>
                            |------|   que lleve la riendas que hice la ley
                           3|¦x¦¦¦¦|          
                            |------|   Tu que ponías cara carita de nada 
                           <div></div>  123456                <a>REm</a>
                                       dejándome hacer
                           <div></div>\ <a>LAM7</a>   /            
                           <div></div> |EBGDAE|   <a>REm</a>
                            |------|   Yo que un amor dejaba
                           <div></div>1|¦¦¦¦¦¦|                 <a>REM7</a>            <a>SOLm</a>
                            |------|   cuando otro llegaba sin comparecer
                           <div></div>2|¦x¦x¦¦|                    <a>REm</a>
                            |------|   tu sin un solo alarde
                           <div></div>3|¦¦¦¦¦¦|                   <a>LAM7</a>        <a>REm</a>
                            |------|   poquito más tarde me hiciste caer
                             123456            
                           <div></div>\  <a>SOLm</a>  /  (silencio)rem
                            |EBGDAE|   De tu boca mordí la manzana
                           <div></div> |------|                             <a>LAM7</a>
                           3|XXXXXX|   carmín del deseo y la tentación
                            |------|   
                           4|¦¦¦¦¦¦|   pero no imagine que evitando la ley
                           <div></div> |------|                     <a>REm</a>
                           5|¦¦¦xx¦|   en la trampa caería yo      [BIS]
                            |------|   
                           <div></div>  123456         <a>SOLm</a>         <a>REm</a>
                                       Puras leyes puras trampas
                           <div></div>                <a>LAM7</a>      <a>REm</a>
                                       inventamos el amor
                           <div></div>                 <a>SOLm</a>       <a>REm</a>
                                       y seguimos adelante
                           <div></div>                <a>LAM7</a>      <a>REm</a>
                                       corazón a corazón
                                       
                           <div></div>            <a>REm</a> 
                                       Ay florcita traviesa pusiste 
                           <div></div>                                   <a>LAM7</a>
                                       entre rejas a este picaflor
                                       
                                       hoy tus leyes se cumplen
                           <div></div>                                             <a>REm</a>
                                       y mi barco se hunde en un mar de amor
                                       
                           <div></div>            <a>REm</a>
                                       Yo que invente este juego
                           <div></div>                     <a>REM7</a>
                                       de escapar a tiempo
                           <div></div>                       <a>SOLm</a>
                                       no me quiero ir
                           <div></div>                            <a>REm</a>
                                       tu sin mover un dedo 
                           <div></div>                        <a>LAM7</a>                 <a>REm</a>
                                       me diste el señuelo que te puse a ti
                                       
                                       
                                       (silencio)rem
                                       De tu boca mordí la manzana
                           <div></div>                                    <a>LAM7</a>
                                       carmín del deseo y la tentación
                                       
                                       pero no imagine que evitando la ley
                           <div></div>                        <a>REm</a>
                                       en la trampa caería yo      [BIS]
                                       
                           <div></div>                    <a>SOLm</a>          <a>REm</a>
                                       puras leyes puras trampas
                           <div></div>                <a>LAM7</a>      <a>REm</a>
                                       inventamos el amor
                           <div></div>                 <a>SOLm</a>       <a>REm</a>
                                       y seguimos adelante
                           <div></div>                <a>LAM7</a>      
                                       corazóoooooon......
                           <div></div>                  <a>REm</a>
                                       a corazón
                           
                           
                           
                           
                           Si lo deseas puedes cortar el bloque vertical de acordes usando el 
                           programa Word para seleccionar un bloque en dirección vertical presiona 
                           a la vez 'ctrl y shit' +F8 luego usa los cursores para cubrir un bloque.
                           Cualquier duda o consulta escribe a:
                           alcaldillo@estudiantes.ucb.edu.bo
                           alcaldillo@hotmail.com
                           </pre>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row" style="margin-top: 6%;">
                    <!--dentro de center ponen el video (en el src ponen el link con embed), si es que
                    remplazan todo el iframe entonces ponen en width="350" y en height="250"-->
                    <center><iframe width="350" height="250" src="https://www.youtube.com/embed/ptc4Awb0UpU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <h2 class="text-light">Acordes</h2>

                <!--Esto es una fila con dos acordes, segun lo que necesiten van aumentando 
                    todo lo que esta adentro-->
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                    <!--esto es solo un acorde-->
                        <div>
                            <!--en el "src" remplazan con la imagen de la nota-->
                            <img src="{% static 'Imagenes/llamita_icon.ico' %}" style="height: 180px; width: 125px;">
                            <h6 class="text-light text-center">nombre nota</h6>
                        </div>
                    <!--aqui termina el acorde-->

                    <!--Este es el segundo acorde-->
                        <div>
                            <img src="{% static 'Imagenes/llamita_icon.ico' %}" style="height: 180px; width: 125px;">
                            <h6 class="text-light text-center">nombre nota</h6>
                        </div>
                     <!--aqui termina el segundo acorde-->
                    </div>
                 <!--Aqui termina la fila de dos acordes-->
                                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}