{% extends 'Base.html' %}

 {% block title %}
     Acoustic Live | Cancion
 {% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <link rel="stylesheet" href="{% static '/css/fondo.css' %}">
    <div class="container contenedor"  style="padding-top: 120px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="flex-container">
                        <div>
                            <!--En la parte donde dice "src" va la imagen de la cancion-->
                            <Center><input type="image" name="1" src="{% static 'Imagenes/llamita_icon.ico' %}" alt="Nivel Principiante" width="120" height="120" style="border-radius: 100%;"></Center>
                        </div>
                        <div class="text-light">
                            <!--En los h remplazan los datos que estan escritos-->
                            <h2>La ley y la Trampa</h2>
                            <h5>Chaqueño Palavecino</h5>
                            <h5>2001-La ley y la Trampa</h5>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 7%; padding-right: 5%;padding-left: 5%;">
                    <div class="container letracordes" style="padding-left: 10%; padding-right: 10%;">
                        <!--Remplazando los lorem ponen lo de la letra, cada p es un parrafo aumenten segun lo que 
                        necesiten-->
                        <pre><div></div><a>REm</a>
Yo que fije las reglas 
                           <div></div>                                 <a>LAM7</a>
que lleve la riendas que hice la ley
                                 
Tu que ponías cara carita de nada 
                           <div></div>           <a>REm</a>
dejándome hacer
                           <div></div>          
                           <div></div><a>REm</a>
Yo que un amor dejaba
                           <div></div>              <a>REM7</a>            <a>SOLm</a>
cuando otro llegaba sin comparecer
                           <div></div>                 <a>REm</a>
tu sin un solo alarde
                           <div></div>                 <a>LAM7</a>        <a>REm</a>
poquito más tarde me hiciste caer          
                           <div></div>(silencio)rem
De tu boca mordí la manzana
                           <div></div>                          <a>LAM7</a>
carmín del deseo y la tentación
                              
pero no imagine que evitando la ley
                           <div></div>                 <a>REm</a>
en la trampa caería yo      [BIS]   
                           <div></div>     <a>SOLm</a>         <a>REm</a>
Puras leyes puras trampas
                           <div></div>    <a>LAM7</a>      <a>REm</a>
inventamos el amor
                           <div></div>     <a>SOLm</a>       <a>REm</a>
y seguimos adelante
                           <div></div>    <a>LAM7</a>      <a>REm</a>
corazón a corazón
                                       
                           <div></div><a>REm</a> 
Ay florcita traviesa pusiste 
                           <div></div>                       <a>LAM7</a>
entre rejas a este picaflor
                                       
hoy tus leyes se cumplen
                           <div></div>                                <a>REm</a>
y mi barco se hunde en un mar de amor
                                       
                           <div></div><a>REm</a>
Yo que invente este juego
                           <div></div>         <a>REM7</a>
de escapar a tiempo
                           <div></div>           <a>SOLm</a>
no me quiero ir
                           <div></div>                <a>REm</a>
tu sin mover un dedo 
                           <div></div>            <a>LAM7</a>                 <a>REm</a>
me diste el señuelo que te puse a ti
                                       
                                       
(silencio)REm
De tu boca mordí la manzana
                           <div></div>                        <a>LAM7</a>
carmín del deseo y la tentación
                                       
pero no imagine que evitando la ley
                           <div></div>            <a>REm</a>
en la trampa caería yo      [BIS]
                                       
                           <div></div>        <a>SOLm</a>        <a>REm</a>
puras leyes puras trampas
                           <div></div>    <a>LAM7</a>      <a>REm</a>
inventamos el amor
                           <div></div>     <a>SOLm</a>       <a>REm</a>
y seguimos adelante
                           <div></div>    <a>LAM7</a>      
corazóoooooon......
                           <div></div>      <a>REm</a>
a corazón
                           
                           

                           </pre>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row" style="margin-top: 6%;">
                    <!--dentro de center ponen el video (en el src ponen el link con embed), si es que
                    remplazan todo el iframe entonces ponen en width="350" y en height="250"-->
                    <center><iframe width="350" height="250" src="https://www.youtube.com/embed/Tc0xBfHjazA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <h2 class="text-light">Acordes</h2>

                <!--Esto es una fila con dos acordes, segun lo que necesiten van aumentando 
                    todo lo que esta adentro-->
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                    <!--esto es solo un acorde-->
                        <div>
                            <!--en el "src" remplazan con la imagen de la nota-->
                            <img src="{% static 'acordes_guitarra/REm(re menor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">Re menor</h6>
                        </div>
                    <!--aqui termina el acorde-->

                    <!--Este es el segundo acorde-->
                        <div>
                            <img src="{% static 'Imagenes/llamita_icon.ico' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">nombre nota</h6>
                        </div>
                     <!--aqui termina el segundo acorde-->
                    </div>
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                       
                    <!--esto es solo un acorde-->
                        <div>
                            <!--en el "src" remplazan con la imagen de la nota-->
                            <img src="{% static 'Imagenes/llamita_icon.ico' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">nombre nota</h6>
                        </div>
                    <!--aqui termina el acorde-->
    
                    <!--Este es el segundo acorde-->
                        <div>
                            <img src="{% static 'acordes_guitarra/SOLm(sol menor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">SOL menor</h6>
                        </div>
                        <!--aqui termina el segundo acorde-->
                    </div>
                 <!--Aqui termina la fila de dos acordes-->
                                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}