{% extends 'Base.html' %}

 {% block title %}
     Acoustic Live | Cancion
 {% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <link rel="stylesheet" href="{% static '/css/fondo.css' %}">
    <div class="container contenedor"  style="padding-top: 120px;">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="flex-container">
                        <div>
                            <!--En la parte donde dice "src" va la imagen de la cancion-->
                            <Center><input type="image" name="1" src="{% static 'Imagenes/llamita_icon.ico' %}" alt="Nivel Principiante" width="120" height="120" style="border-radius: 100%;"></Center>
                        </div>
                        <div class="text-light">
                            <!--En los h remplazan los datos que estan escritos-->
                            <h2>Quiz&aacute;</h2>
                            <h5>Jesus Adrian Romero</h5>
                            <h5>2010 El Brillo De Mis Ojos</h5>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 7%; padding-right: 5%;padding-left: 5%;">
                    <div class="container letracordes" style="padding-left: 10%; padding-right: 10%;">
                        <!--Remplazando los lorem ponen lo de la letra, cada p es un parrafo aumenten segun lo que 
                        necesiten-->

<pre>
    
Intro:
DOm7-DO2-DOm7-DO2-DOm7-DOm SOLm7.

   DOm DO2 DOm  DO2   DOm     SOLm7
Quizá    no tiene nada singular
   DOm DO2 DOm   DO2    DOm     SOLm7
Y se,  tengo defectos en mi andar
    SOL#   LA#          SOLm7  DOm DOm7
Tal vez, a veces fallo sin que-rer
   SOL#     LA#            SOLm7  DOm DOm7
Y se que hasta me vuelve a su-ce-der.

     DOm                   SOLm
Pero tengo algo mas que me da liberta
  LA#          DOm
Y se que estoy bien.
LA#       SOL#          LA#
Es que me ama, tanto me ama
          SOLm7        DOm
Que ni lo puedo comprender
LA#       SOL#          LA#
Es que me ama, tanto me ama
        SOLm7     DOm
Y no lo puedo merecer
    LA#    SOL#     DOm
Me acepta tal cual soy.

    DOm DO2 DOm   DO2   DOm      SOLm7
Quizá,   no siempre logro obedecer
   DOm DO2 DOm      DO2    DOm   SOLm7
Y se,   que al intentarlo fallare
    SOL#       LA#         SOLm7   DOm DO2
Mas se que El siempre llevara mis pies
    SOL#    LA#        SOLm7  DOm DOm7
Por sen-das donde lograre  crecer.
    
//Pero tengo algo mas que me da liberta
Bb           Cm
Y se que estoy bien.
Bb        G#            Bb
Es que me ama, tanto me ama
        Gm7          Cm
Que ni lo puedo comprender
Bb        G#            Bb
Es que me ama, tanto me ama
      Gm7       Cm
Y no lo puedo merecer//


    LA#   SOL#     DOm
Me acepta tal cual soy
    LA#   SOLm7    DOm
Me acepta tal cual soy
    LA#   SOL#     DOm7
Me acepta tal cual soy

</pre>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row" style="margin-top: 6%;">
                    <!--dentro de center ponen el video (en el src ponen el link con embed), si es que
                    remplazan todo el iframe entonces ponen en width="350" y en height="250"-->
                    <center><iframe width="350" height="250" src="https://www.youtube.com/embed/bgFjaemanJ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <h2 class="text-light">Acordes</h2>

                <!--Esto es una fila con dos acordes, segun lo que necesiten van aumentando 
                    todo lo que esta adentro-->
                    <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                    
                        <div>
                            <img src="{% static 'acordes_guitarra/c7.png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">Do menor <br>septima</h6>
                            <br>
                        </div>
                        
                        <div>
                            <!--en el "src" remplazan con la imagen de la nota-->
                            <img src="{% static 'acordes_guitarra/DOm(do menor).png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">Do menor</h6>
                        </div>
                        

                    </div>
                 <!--Aqui termina la fila de dos acordes-->

                 <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                        <div>
                            <img src="{% static 'acordes_guitarra/sol menor septima.png' %}"style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">Sol menor </br>septima</h6>
                        </div>
                   
                        <div>
                            <img src="{% static 'acordes_guitarra/c2.png' %}" style="height: 180px; width: 100px;">
                            <h6 class="text-light text-center">Acorde C2</h6>
                        </div>

                    </div>
                 <!--Aqui termina la fila de dos acordes-->

                 <div class="flex-container" style="justify-content: center; margin-top: 7%;">
                    <div>
                        <img src="{% static 'acordes_guitarra/SOL#(sol sostenido).png' %}"style="height: 180px; width: 100px;">
                        <h6 class="text-light text-center">Sol sostenido<br>mayor </h6>
                    </div>
               
                    <div>
                        <!--en el "src" remplazan con la imagen de la nota-->
                        <img src="{% static 'acordes_guitarra/LA#(la sostenido).png' %}" style="height: 180px; width: 100px;">
                        <h6 class="text-light text-center">La Sostenido <br>mayor <br> (Si bemol)</h6>
                    </div>

                </div>
             <!--Aqui termina la fila de dos acordes-->

                </div>
            </div>
        </div>
    </div>

{% endblock %}